@CHARSET "ISO-8859-1";
.carouselItem{
	width: 400px;
	height: 200px;
}

.lista-filme-item-titulo{
	text-align: left;
    vertical-align: middle !important;
    font-size: 20px;
}

.lista-filme-item-conteudo{	
    font-size: 15px;
    margin-top: 17px;
}

.lista-filme-item-descricao{
	text-align: left;
    vertical-align: middle !important;
    font-size: 13px;
}

.pagina-titulo{
	width: 100%; 
	text-align: center; 
	font-size: 30px; 
	margin: 35px 0 40px 0;
}
/***** indicações*****/


.carousel-inner{
	left:80px;
	width: 90%;
	height: 400px;
}

.col-lg-6{
	left:350px;
	
}

.titulos{
	width: 100%; 
	text-align: center; 
	font-size: 30px; 
	margin: 35px 0 40px 0;	
}

.rodape{
	margin: 204px 561px 10px;
}




/* 
************
***navbar***
************ 
*/
.navbar-default {
    background-color: #B31A19;
    border-color: #881A19;
}
/* title */
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #9D1A19;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
.dropdown.open > a{
	background-color: #9D1A19 !important;
	color:#FFFFFF !important;	
}
.dropdown.open > a > span{	
	color:#FFFFFF !important;
    border-top-color: #FFFFFF !important;
    border-bottom-color: #FFFFFF !important;
}


/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}